{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 4,
  "useTabs": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "bracketSameLine": true,
  "endOfLine": "lf",
  "printWidth": 100,
  "arrowParens": "avoid"
}
